.banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 50px 0 0;
    @include easing();
    .brand {
        background: url(../images/caprock_logo.svg) no-repeat center;
        background-size: contain;
        display: block;
        width: 210px;
        height: 55px;
        text-indent: -99999px;
        float: left;
        @include easing();
    }
    .nav-primary {
        float: right;
        ul {
            li {
                margin-left: 30px;
                a {
                    color: $white;
                    display: block;
                    font-size: 12px;
                    @include semi();
                    text-transform: uppercase;
                    line-height: 50px;
                    letter-spacing: 0.05em;
                    position: relative;
                    &:before {
                        content:'';
                        position: absolute;
                        bottom: 12px;
                        left: 50%;
                        right: auto;
                        width: 0%;
                        height: 2px;
                        background: $white;
                        @include easing();
                    }
                    &:hover {
                        &:before {
                            width: 100%;
                            left:0;
                            right: 0;
                        }
                    }
                }
                &.current_page_item {
                    a {
                        &:before {
                            width: 100%;
                            left:0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    &.smaller {
        height: 80px;
        padding: 15px 0;
        background: $dark_blue;
        .brand {
            width: 175px;
            height: 45px;
        }
    }
}

.search, .blog, .dark {
    .banner {
        .brand {
            background: url(../images/caprock_logo_dark.svg) no-repeat center;
            background-size: contain;
        }
        .nav-primary {
            ul {
                li {
                    a {
                        color: $dark_blue;
                        &:before {
                            background: $dark_blue;
                        }
                    }
                }
            }
        }
        &.smaller {
            height: 80px;
            padding: 15px 0;
            background: $dark_blue;
            .brand {
                background: url(../images/caprock_logo.svg) no-repeat center;
                background-size: contain;
            }
            .nav-primary {
                ul {
                    li {
                        a {
                            color: $white;
                            &:before {
                                background: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Home

.home {
    .banner {
        top: -160px;
        &.smaller {
            position: fixed;
            top: 0;
        }
    }    
}

@media (max-width: 1024px) {

    $bar-width: 40px;
    $bar-height: 2px;
    $bar-spacing: 10px;

    .hamburger-menu {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        bottom: auto;
        margin: auto;
        width: $bar-width;
        height: $bar-height + $bar-spacing*2;
        cursor: pointer;
        z-index: 999;
    }
    .bar,
    .bar:after,
    .bar:before {
        width: $bar-width;
        height: $bar-height;
    }
    .bar {
        position: relative;
        transform: translateY($bar-spacing);
        background: rgba(255, 255, 255, 1);
        transition: all 0ms 300ms;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: $bar-spacing;
            background: rgba(255, 255, 255, 1);
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: $bar-spacing;
            background: rgba(255, 255, 255, 1);
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &.animate {
            background: rgba(255, 255, 255, 0); 
            &:after {
                top: 0;
                transform: rotate(45deg);
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);     
            }
            &:before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }
    }
    
    .menu-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $dark_blue;
        @include easing();
        transform: translateX(100%);
        .nav-primary {
            float: none;
            padding: 100px;
            .nav {
                display: block;
                li {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        &.open {
            transform: translateX(0%);
        }
    }
    
}